body {
    margin: 0px;
    padding: 0px;
    background-color: black;
    color: white;
}

.page_heading {
    text-align: center;
    color: grey;
}

.submit_btn {
    background-color: green;
    border-color: green;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    color: white;
}

.reset_btn {
    background-color: red;
    border-color: red;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    color: white;
}